* {
  border: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
  font-family: "Nunito Sans", sans-serif !important;
}
.grey {
  color: grey;
}
.about-btn {
  border: 1px solid blue;
  background-color: white;
}
.about-btn a {
  text-decoration: none;
  color: blue;
}
@media screen and (min-width: 768px) {
  body {
    /* overflow-x: hidden !important; */
    background: #000;
  }
  .navbar {
    background-color: blue !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nav-link {
    color: white !important;
  }
  .first-slide {
    background-image: url("../images/pexels-pixabay-532192.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(63, 58, 58);
    background-blend-mode: overlay;
  }
  .second-slide {
    background-image: url("../images/pexels-enrique-10785841.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(63, 58, 58);
    background-blend-mode: overlay;
  }
  .third-slide {
    background-image: url("../images/pexels-sam-forson-243138.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(63, 58, 58);
    background-blend-mode: overlay;
  }
  .name {
    font-size: 3rem;
    text-align: center;
  }
  .about {
    font-family: "Play", sans-serif;
    color: lightgray;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 0.2rem;
  }
  .num {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .numbers {
    font-size: 2.5rem;
    text-align: center;
  }
  .num2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .read-more {
    display: block;
    margin: 0 auto;
    padding: 0.3rem;
    margin-top: 0.2rem;
    font-size: 1.3rem;
    background: transparent;
    border: 1px solid white;
    color: white;
  }

  .about-section {
    background: #fbf8f5;
    /* background: white; */
  }
  .skill-section {
    background-color: rgb(69, 67, 67);
    background-image: url("../images/pexels-sam-forson-243138.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
  }
  .skills-wrap {
    /* width: 100%; */
    display: flex;
    gap: 1rem;
    align-items: center !important;
    justify-content: center;
  }
  .skill-head {
    font-weight: 900;
    margin-top: 4rem;
    color: whitesmoke;
  }
  .skills-p {
    color: whitesmoke;
    margin-top: 3rem;
  }

  .skill-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
  }
  .parts svg {
    height: 2rem;
    margin: 1rem 0;
    color: #fbf8f5;
  }
  .project-section {
    padding: 1rem 1rem;
    background: #111;
  }
  .first-cards {
    background-image: url("../images/pexels-pixabay-532192.jpg");
    background-size: cover;
    background-color: #525151;
    background-blend-mode: overlay;
  }
  .sec-cards {
    background-image: url("../images/pexels-enrique-10785841.jpg");
    background-size: cover;
    background-color: #525151;
    background-blend-mode: overlay;
  }
  .sludge-btn a {
    color: white !important;
  }
  .sludge-btn {
    background-color: transparent;
    border: 1px solid white;
  }

  .turbo {
    background-color: rgb(14, 14, 148);
    color: white;
  }
  .turbo img {
    border-radius: 50%;
    border: 3px solid white;
  }
  .press {
    padding: 1rem 0;
    background-color: #fbf8f5;
    /* display: flex !important; */
  }
  .card-wrap {
    display: flex;
  }
  .card img {
    height: 35vh;
    object-fit: cover;
  }
  .card {
    width: 100%;
    height: 40vh;
  }
  .location-section {
    background: #fbf8f5;
  }
  .location-section iframe {
    width: 100% !important;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbf8f5;
    padding: 1rem 0;
  }

  .footer-text {
    color: grey;

    font-size: 1.3rem;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Play", sans-serif;
  }
  .email-input {
    padding: 1rem;
    border: 2px solid grey;
    width: 60%;
    border-radius: 3rem;
  }
  .email-btn {
    width: 60%;
    border-radius: 3rem;
    margin: 1rem 0;
    padding: 1rem;
    font-family: "Play", sans-serif;
    background: gray;
    color: #fbf8f5;
  }
  .socials {
    display: flex;
    gap: 2rem;
  }
  .media {
    color: gray;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid grey;
  }
  .media svg {
    height: 1rem;
    width: 1rem;
  }
  .end-head {
    text-align: center;
    margin-top: 2rem;
    font-family: "Roboto Flex", sans-serif;
  }
  .footer-end-links {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    /* justify-content: center; */
  }
  .end-links {
    font-family: "Play", sans-serif;
    text-align: center;
    color: grey;
  }
  .small {
    display: block;
    padding: 1rem;
    width: 100%;
    background: gray;
    color: white;
    text-align: center;
  }
}
/* phones */
@media screen and (max-width: 768px) {
  body {
    /* overflow-x: hidden !important; */
    background: #000;
  }
  .navbar {
    background-color: blue !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nav-link {
    color: white !important;
  }
  .first-slide {
    background-image: url("../images/pexels-pixabay-532192.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(63, 58, 58);
    background-blend-mode: overlay;
  }
  .second-slide {
    background-image: url("../images/pexels-enrique-10785841.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(63, 58, 58);
    background-blend-mode: overlay;
  }
  .third-slide {
    background-image: url("../images/pexels-sam-forson-243138.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(63, 58, 58);
    background-blend-mode: overlay;
  }
  .name {
    font-size: 3rem;
    text-align: center;
  }
  .about {
    font-family: "Play", sans-serif;
    color: lightgray;
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 0.2rem;
  }
  .num {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .numbers {
    font-size: 2.5rem;
    text-align: center;
  }
  .num2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .read-more {
    display: block;
    margin: 0 auto;
    padding: 0.3rem;
    margin-top: 0.2rem;
    font-size: 1.3rem;
    background: transparent;
    border: 1px solid white;
    color: white;
  }

  .about-section {
    background: #fbf8f5;
    /* background: white; */
  }
  .skill-section {
    background-color: rgb(69, 67, 67);
    background-image: url("../images/pexels-sam-forson-243138.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    background-attachment: fixed;
  }
  .skills-wrap {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center !important;
    justify-content: center;
  }
  .skill-head {
    font-weight: 900;
    margin-top: 4rem;
    color: whitesmoke;
  }
  .skills-p {
    color: whitesmoke;
    margin-top: 3rem;
  }

  .skill-part {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .parts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
  }
  .parts svg {
    height: 2rem;
    margin: 1rem 0;
    color: #fbf8f5;
  }
  .project-section {
    padding: 1rem 1rem;
    background: #111;
  }
  .first-cards {
    background-image: url("../images/pexels-pixabay-532192.jpg");
    background-size: cover;
    background-color: #525151;
    background-blend-mode: overlay;
  }
  .sec-cards {
    background-image: url("../images/pexels-enrique-10785841.jpg");
    background-size: cover;
    background-color: #525151;
    background-blend-mode: overlay;
  }
  .sludge-btn a {
    color: white !important;
  }
  .sludge-btn {
    background-color: transparent;
    border: 1px solid white;
  }

  .press {
    padding: 1rem 0;
    background-color: #fbf8f5;
    /* display: flex !important; */
  }
  .card-wrap {
    display: flex;
  }
  .card img {
    height: 35vh;
    object-fit: cover;
  }
  .card {
    width: 100%;
    height: 40vh;
  }
  .location-section {
    background: #fbf8f5;
  }
  .location-section iframe {
    width: 100% !important;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbf8f5;
    padding: 1rem 0;
  }

  .footer-text {
    color: grey;

    font-size: 1.3rem;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Play", sans-serif;
  }
  .email-input {
    padding: 1rem;
    border: 2px solid grey;
    width: 60%;
    border-radius: 3rem;
  }
  .email-btn {
    width: 60%;
    border-radius: 3rem;
    margin: 1rem 0;
    padding: 1rem;
    font-family: "Play", sans-serif;
    background: gray;
    color: #fbf8f5;
  }
  .socials {
    display: flex;
    gap: 2rem;
  }
  .media {
    color: gray;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid grey;
  }
  .media svg {
    height: 1rem;
    width: 1rem;
  }
  .end-head {
    text-align: center;
    margin-top: 2rem;
    font-family: "Roboto Flex", sans-serif;
  }
  .footer-end-links {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    /* justify-content: center; */
  }
  .end-links {
    font-family: "Play", sans-serif;
    text-align: center;
    color: grey;
  }
  .small {
    display: block;
    padding: 1rem;
    width: 100%;
    background: gray;
    color: white;
    text-align: center;
  }
}
